# Shortcuts
alias vz='vim ~/.zshrc'
alias sz='source ~/.zshrc'
alias ip='curl icanhazip.com'
alias ll='ls -la'
alias b='./batect'
alias g='./go'
alias v='vim'
alias h='history'

# Open apps
alias intellij='open -a "IntelliJ IDEA CE"'
alias code='open -a "Visual Studio Code"'
alias android='open -a "Android Studio"'
alias talisman=$TALISMAN_HOME/talisman_darwin_amd64

# Bookmarks
alias dl='cd ~/Downloads'
alias doc='cd ~/Documents'

# Git aliases
alias ga='git add'
alias gap='git add -p'
alias gaa='git add .'
alias gb='git branch'
alias gc='git commit'
alias gcm='git commit -m'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout master'
alias gd='git diff'
alias gdt='git diff tool'
alias gda='git diff HEAD'
alias gi='git init'
alias gl='git log --graph --oneline --decorate --all'
alias glb='git log --graph --oneline --decorate  --first-parent $current_branch_name'
alias glv='git log'
alias gld='git log --pretty=format:"%h %ad %s" --date=short --all'
alias gp='git pull'
alias gpr='git pull --rebase'
alias push='gpr && git push'
alias gr='git rebase'
alias gs='git status'
alias gss='git status --short'
alias gst='git stash'
alias gsta='git stash apply'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash save'
alias gpb="git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"

# NPM aliases
alias ns='npm start'
alias nt='npm test'
alias ni='npm install'
alias nis='npm install --save'
alias nig='npm install -g'
alias nid='npm install --save-dev'
alias nu='npm uninstall'
alias nus='npm uninstall --save'
alias nud='npm uninstall --save-dev'
alias nup='npm update'
alias nr='npm run'
alias nls='npm list'
alias nlsg='npm list -g --depth=0'

# Yarn aliases
alias ys='yarn start'
alias yt='yarn test'
alias yi='yarn install'
alias ya='yarn add'
alias yad='yarn add --dev'
alias yrm='yarn remove'
alias yup='yarn upgrade'
alias yr='yarn run'
alias yls='yarn list'
alias ylsg='yarn list -g --depth=0'
