# Zsh
if [ "$(ps -p $$ -ocomm=)" = "zsh" ]; then
    # Oh My Zsh
    export ZSH="$HOME/.oh-my-zsh"
    # Set a character at the end of partial lines to none
    export PROMPT_EOL_MARK=""
    # History settings
    export HISTORY_IGNORE="([bf]g|c|clear|e|exit|h|history|incognito|l|l[adfls]|pwd|z)"
fi

# GPG
export GPG_TTY=$(tty)
